{{% BLOCKS }}
{{< layout/index }}
    {{$ content }}
        {{#hasErrors}}
        <div class="container">
            <div class="alert alert-warning" role="alert">
                {{#errors}}
                    <p>{{ . }}</p>
                {{/errors}}
            </div>
        </div>
        {{/hasErrors}}
        <div class="pb-3">
            <div class="login-block">
                <h1>Login</h1>
                <form method="post">
                    <input type="text" name="username" placeholder="Username" id="username" />
                    <input type="email" name="email" placeholder="E-Mail" id="email" />
                    <input type="password" name="password" placeholder="Password" id="password" />
                    <button class="p-3">Login</button>
                    <button class="p-3">Abbruch</button>
                </form>

            </div>
        </div>
    {{/content}}
{{/layout/index}}

